# Manga content & media
mangas/

# Firebase & local deploy backups
.firebase/
backup/
empty_public/

# Node dependencies & logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor files
.DS_Store
Thumbs.db
*.tmp
.vscode/
.idea/
